<div class="center top-buffer">
	<h1 class="title">Moodbox</h1>
	<p class="bump">Turn your feelings into Music</p>
	<a href="/auth/spotify">
		<img src="/assets/log_in-desktop-large.png">
	</a>
</div>