<div class="page-header">
	<h1>Your Results <small>Check it</small></h1>
</div>
<div class="col-md-8">
	<iframe src="https://embed.spotify.com/?uri={{uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
<div class="col-md-4">
	<a class="btn btn-primary" href="/">TRY AGAIN</a>
	<div class="fb-share-button" data-href="http://www.moodbox.xyz" data-layout="box_count"></div>
</div>