<div class="page-header">
	<h1>Your Results <small>Check it</small></h1>
</div>
<div class="row">
	<div class="col-md-8 border-right">
		{{#each tracks}}
		<div class="media">
			<a class="media-left" href="#">
				<img class="media-object" src="{{img}}" alt="Generic placeholder image">
			</a>
			<div class="media-body">
				<h4 class="media-heading">{{title}}</h4>
				<audio controls>
					<source src="{{url}}" type="audio/mp3">
				</audio>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="col-md-4">

		<div class="ro">
			<h3>Rate your Playlist</h3>
			<div id="rating"></div>
			<div style="display: none" class="alert alert-success" id="thanks" role="alert">Thanks! You've made Moodbox better</div>
		</div>
		<div class="divider"></div>
		<div class="ro">
			<h4>Or Share it!</h4>
			<div class="fb-share-button" data-href="http://www.moodbox.xyz" data-layout="button"></div>
		</div>
		<div class="divider"></div>

		<div class="ro">
			<a class="btn btn-primary spotify" href="spotify:playlist:{{pid}}">Open in Spotify</a>
		</div>
	</div>
</div>
<script type="text/javascript">
function handleClick(e) {
	$.ajax({
		url: "/rating",
		method: "POST",
		dataType: "json",
		data: {rating: e},
		success: function() {
			console.log("ya");
		}, error: function(e) {
			console.log(e);
			$('#rating').hide();
			$('#thanks').show();
		}
	}).done(function(e) {
		console.log(e);
	});
}
$('#rating').raty({ click: handleClick });
</script>