<div class="jumbotron">
	<h1>Results</h1>
	<p>Turn your feelings into Music</p>
</div>
<div class="col-md-4">
	<a class="btn btn-primary">SHARE</a>
	<a class="btn btn-primary" href="/">TRY AGAIN</a>
</div>
<div class="col-md-8">
	{{#each song}}
	<ul class="media-list">
		<li class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="{{imgUrl}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{title}}</h4>
			</div>
		</li>
	</ul>
	{{/each}}
</div>