<h2 class="top-buffer">Class Accuracy</h2>
<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{classVal}}%;">
    {{classVal}}%
  </div>
</div>
<h2>Average Playlist Rating</h2>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{playVal}}%;">
  	{{playVal}}%
  </div>
</div>