<div class="col-md-6 col-md-push-3">
	<h1 class="top-buffer">Moodbox Statistics</h1>
	<div class="divider"></div>
	<h4>Classification Accuracy</h4>
	<div class="progress">
		<div class="progress-bar progress-bar-info" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{classVal}}%;">
			{{classVal}}%
		</div>
	</div>
	<h4>Average Playlist Rating</h4>
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{playVal}}%;">
			{{playVal}}%
		</div>
	</div>
</div>