body {
	font-family: 'Avenir Next'
}

a {
	cursor: pointer;
}

.center {
	text-align: center;
}

.top-buffer {
	padding-top: 200px;
}

.bump {
	padding-bottom:30px;
}

.title {
	font-size: 5em;
	font-weight: 600;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.divider {
  margin-top:10px;
  margin-bottom:10px;
  border-bottom: 1px solid #e1e1e1;
}

.border-right {
  border-right: 1px solid #e1e1e1;
}

.spotify {
  background: #648F00;
}

.media {
  margin-bottom: 40px;
}

.affix {
  top: 15px;
  position: fixed;
}

.cut {
  margin-top: 0;
}

.media-object {
  height: 64px;
  width: 64px;
}

/*Tile Style*/
.tile {
  width: 100%;
  max-height: 1000px;
}

.tile-outer {
  position: relative;
  margin-bottom: 30px;
}

.tile-outer:hover {

}

.tile-toggle {
  position: absolute;
  right:0;
  left:0;
  top:0;
  bottom:0;
  transition: .2s;
}

.tile-toggle:hover {
  background: black;
  opacity: .5;
  transition: .2s;
}

.tile-toggle .playing {
  background: yellow;
}

.playing {
  background: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

#record-btn {
	font-size: 18px;
	font-weight: 800;
}

.outerlay {
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
}

#overlay {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: white;
}

.gone {
	display: none;
}

.loading {
	display: table-cell;
	vertical-align: middle;
}

/* Css Loader */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }