body {
	font-family: 'Avenir Next'
}

a {
	cursor: pointer;
}

.center {
	text-align: center;
}

.top-buffer {
	padding-top: 90px;
}

.bump {
	padding-bottom:30px;
}

.title {
	font-size: 5em;
	font-weight: 600;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}